[Unit]
Description=Teachatty Chat App WebSocket Daphne Service
Requires=teachatty_chat_app_daphne.socket
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/jenkins/workspace/teachatty_chat_app/
User=jenkins
ExecStart=/var/lib/jenkins/workspace/teachatty_chat_app/env/bin/python /var/lib/jenkins/workspace/teachatty_chat_app/env/bin/daphne \
    --bind unix:/run/teachatty_chat_app_daphne.sock \
    -b 0.0.0.0 -p 8001 chatSystem.asgi:application

[Install]
WantedBy=multi-user.target