<!DOCTYPE html>
{% load static %}

<div class="w-full h-full bg-pink-800" id="user-connection">
    <h2>Peoples</h2>

    {% for i in people %}
    <div class="grid grid-cols-5 bg-red-300 px-6 h-12 my-3">
        <div class="flex justify-center items-center">
            <img src="{% static 'img/avatar.png' %}" alt="people avatar" height="40" width="40"
                 class="border-solid border-4 border-sky-500 rounded-full">
        </div>
        <div class="col-span-4 flex items-center">
            <p>John Doe</p>
        </div>
    </div>
    {% endfor %}


</div>
