<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<main class="flex h-screen justify-center items-center bg-white">
    <div class="w-1/2 reset-password-form flex flex-col justify-center items-center bg-slate-300 p-12 rounded-3xl shadow-xl">
        <h1 class="text-4xl">Reset Password</h1>

        <!-- ------------------------------------------- -->
        {% if validlink %}
        <form method="POST" class="lg:w-3/4 p-2 mx-auto">
            {% csrf_token %}
            <div class="my-5">
                <input type="password" id="id_new_password1" name="new_password1" placeholder="New Password" autocomplete="new-password"
                       class="w-full mt-2 px-4 py-4 rounded-xl" required>
            </div>

            <div class="my-5">
                <input type="password" id="id_new_password2" name="new_password2" placeholder="Confirm password" autocomplete="new-password"
                       class="w-full mt-2 px-4 py-4 rounded-xl" required>
            </div>

            <!-- Form fields errors -->
            {% if form.new_password1.errors %}
            <div class="flash_msg_pass1 mb-5 rounded-xl flex">
                <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_pass1">
                    <span><strong>&#9587</strong></span>
                </div>
                <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                    <p><strong>New Password: {{ form.new_password1.errors|striptags }}</strong></p>
                </div>
            </div>
            {% endif %}
            {% if form.new_password2.errors %}
            <div class="flash_msg_pass2 mb-5 rounded-xl flex">
                <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_pass2">
                    <span><strong>&#9587</strong></span>
                </div>
                <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                    <p><strong>Confirm Password: {{ form.new_password2.errors|striptags }}</strong></p>
                </div>
            </div>
            {% endif %}
            <button type="submit" class="w-full px-5 py-3 mt-2 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Reset Password</button>
            <div class="mt-4 text-center">
                <a href="{% url 'accountApp:login' %}"><p>Back to log in</p></a>
            </div>
        </form>
        {% else %}
        <div class="alert alert-warning">
            <strong>The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.</strong>
        </div>
        {% endif %}
        <!-- ------------------------------------------- -->


    </div>
</main>

{% endblock %}