<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<main class="flex h-screen justify-center items-center bg-white">
    <div class="check-email-text flex flex-col justify-center items-center bg-slate-300 p-12 rounded-3xl shadow-xl">
        <h1 class="text-4xl">Password set successfully!</h1>
        <p class="mt-5">You can now
            <span><a href="{% url 'accountApp:login' %}">login here</a>!</span>
        </p>
    </div>
</main>

{% endblock %}