{% extends 'base.html' %}
{% load static %}

{% block title %} {{ title }} {% endblock %}

{% block customCSS %}
<style>
    #card-room-thumbnail {
        cursor: pointer;
        text-decoration: none;
    }

</style>
{% endblock %}

{% block content %}
<div class="pb-4 lg:pb-10 lg:pt-5 lg:px-5 bg-slate-500 container h-screen">
    <div class="lg:p-5 bg-red-500 grid grid-cols-4 h-5/6">
        <div class="bg-orange-600 h-auto">
            {% include 'roomApp/roomDetailComponents/people.html' %}
        </div>

        <div class="col-span-2 bg-white h-auto overflow-hidden">
            {% include 'roomApp/roomDetailComponents/chatBody.html' %}
        </div>

        <div class="bg-violet-600 h-auto">
            {% include 'roomApp/roomDetailComponents/chatRoomDetail.html' %}
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    // VARIABLES
    const roomName = `{{ room.slug }}`;   // fetch the room-slug from the django-template-variable
    // console.log(`Room name (slug): ${roomName}`);
    const url = `ws://${window.location.host}/ws/chat/${roomName}/`;    // construct the websocket url
    // const url = `ws://${window.location.host}:8001/ws/chat/${roomName}/`;    // [PRODUCTION - not working] construct the websocket url
    console.log(url);
    const username = `{{ request.user.username }}`;
    // console.log(username);
    const send = document.querySelector('#chat-message-submit');    // fetch from 'roomDetailComponents/chatBody.html' file

    // WEBSOCKET OBJECT
    const chatSocket = new WebSocket(url);
    // console.log(chatSocket);

    // WEBSOCKET ONMESSAGE FUNC
    chatSocket.onmessage = function(e) {
        console.log('onmessage');
        const data = JSON.parse(e.data);    // parse data sent from the backend consumer
        // Check if the data is not empty
        if (data) {
            // console.log(`Message sent from the backend: ${data.message}`); // access 'message' key from the 'data' object; since the data-obj contains certain key-value pair from the backend; more detail into 'chat_message' method in the "roomApp/consumers.py" file

            // Append HTML code-block into the chat-body section
            let chatHtml = `<div class="grid grid-cols-9 bg-gray-200 px-6 h-12 my-7 mx-5 rounded-xl">
                <div class="bg-pink-300 flex justify-center items-center">
                    <img src="{% static 'img/avatar.png' %}" alt="people avatar" height="40" width="40"
                         class="border-solid border-4 border-sky-500 rounded-full">
                </div>
                <div class="bg-green-300 col-span-8">
                    <p class="font-semibold">${data.username}</p>
                    <p>${data.message}</p>
                </div>
                <div></div>
                <div class="bg-teal-300 flex items-center">
                    <small style="font-size:.7rem">date/time</small>
                </div>
            </div>`;
            document.querySelector('#chat-messages').innerHTML += chatHtml;
        }
    }

    // WEBSOCKET ONCLOSE FUNC
    chatSocket.onclose = function(e) {
        console.log('onclose');
    }

    // SEND BUTTON FUNC
    send.onclick = function (e) {
        e.preventDefault();     // prevent from submitting as a post-req
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        // console.log(`${message}`);

        // Send msg to backend, only if the message is not empty
        if (message) {
            // Send the message to backend consumer
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': username,
                'room': roomName,
            }));
            messageInputDom.value = '';  // Clear the input-field after sending msg to backend
        }
    }
</script>
{% endblock %}

