<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} {% endblock %}
        | Django Chat</title>

    <script src="https://cdn.tailwindcss.com"></script>

    {% block customCSS %} {% endblock %}
</head>
<body class="bg-teal-600">

    <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
        <div>
            <a href="#" class="text-xl text-white">Django Chat</a>
        </div>
        <div class="flex items-center space-x-4">
            {% if request.user.is_authenticated %}
                <p>{{ request.user }}</p>
                <a href="#" class="text-white hover:text-gray-200">Rooms</a>
                <a href="{% url 'logout' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Logout</a>
            {% else %}
                <a href="{% url 'login' %}" class="text-white hove:text-gray-200">Login</a>
                <a href="{% url 'signup' %}" class="px-5 py-3 rounded-xl text-white bg-teal-600 hover:bg-teal-700">Signup</a>
            {% endif %}
        </div>
    </nav>

    {% block content %} {% endblock %}

{% block customJS %} {% endblock %}
</body>
</html>