{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Login</h1>
</div>

<form method="POST" class="lg:w-1/4 px-4 mx-auto">
  {% csrf_token %}
  <div class="mb-5">
    <label for="email" class="text-white">Email</label>
    <input type="text" id="email" name="email" class="w-full mt-2 px-4 py-2 rounded-xl">
  </div>

  <div class="mb-5">
    <label for="password" class="text-white">Password</label>
    <input type="password" id="password" name="password" class="w-full mt-2 px-4 py-2 rounded-xl">
  </div>

  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
          <p>{{ error }}</p>
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}

  <button type="submit" class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Login</button>
</form>
{% endblock %}