{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}


{% block customCSS %}
<style>
    .crossBtnDiv {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Login</h1>
</div>

<form method="POST" class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}
    <div class="mb-5">
        <label for="email" class="text-white">Email</label>
        <input type="text" id="email" name="email" class="w-full mt-2 px-4 py-2 rounded-xl" required>
    </div>

    <div class="mb-5">
        <label for="password" class="text-white">Password</label>
        <input type="password" id="password" name="password" class="w-full mt-2 px-4 py-2 rounded-xl" required>
    </div>

    <!-- Form fields errors -->
    {% if form.email.errors %}
        <div class="flash_msg_email mb-5 rounded-xl flex">
            <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_email">
                <span><strong>&#9587</strong></span>
            </div>
            <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                <p><strong>Email: {{ form.email.errors|striptags }}</strong></p>
            </div>
        </div>
    {% endif %}
    {% if form.password.errors %}
        <div class="flash_msg_pass mb-5 rounded-xl flex">
            <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_pass">
                <span><strong>&#9587</strong></span>
            </div>
            <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                <p><strong>Password: {{ form.password.errors|striptags }}</strong></p>
            </div>
        </div>
    {% endif %}

    <!-- User auth error as flash msg -->
    {% if messages %}
    {% for msg in messages %}
    <div class="flash_msg mb-5 rounded-xl flex">
        <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_msg">
            <span><strong>&#9587</strong></span>
        </div>
        <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
            <p><strong>{{ msg }}</strong></p>
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <button type="submit" class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Login</button>
</form>
{% endblock %}


{% block scripts %}
<script>
    // Flash msg: Auth-error
    const error_div = document.querySelector(".flash_msg");
    const crossBtnDiv_msg = document.querySelector("#crossBtnDiv_msg");
    // Form field error: Email
    const error_div_email = document.querySelector(".flash_msg_email");
    const crossBtnDiv_formError_email = document.querySelector("#crossBtnDiv_formError_email");
    // Form field error: Password
    const error_div_pass = document.querySelector(".flash_msg_pass");
    const crossBtnDiv_formError_pass = document.querySelector("#crossBtnDiv_formError_pass");

    if (crossBtnDiv_formError_email) {
        crossBtnDiv_formError_email.addEventListener("click", (e) => {
            error_div_email.remove();
        });
    }

    if (crossBtnDiv_formError_pass) {
        crossBtnDiv_formError_pass.addEventListener("click", (e) => {
            error_div_pass.remove();
        });
    }

    if (crossBtnDiv_msg) {
        crossBtnDiv_msg.addEventListener("click", (e) => {
            error_div.remove();
        });
    }
</script>
{% endblock %}