{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block customCSS %}
<style>
    .crossBtnDiv {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="p-10 lg:p-20 text-center">
    <h1 class="text-3xl lg:text-6xl text-white">Sign up</h1>
</div>

<form method="POST" class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}
    <div class="mb-5">
        <label for="email" class="text-white">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" autocomplete="email"
               class="w-full mt-2 px-4 py-2 rounded-xl" required>
    </div>

    <div class="mb-5">
        <label for="username" class="text-white">Username</label>
        <input type="text" id="username" name="username" placeholder="Username"
               class="w-full mt-2 px-4 py-2 rounded-xl" required>
    </div>

    <div class="mb-5">
        <label for="password1" class="text-white">Password</label>
        <input type="password" id="password1" name="password1" placeholder="Password"
               class="w-full mt-2 px-4 py-2 rounded-xl" required>
    </div>

    <div class="mb-5">
        <label for="password2" class="text-white">Repeat Password</label>
        <input type="password" id="password2" name="password2" placeholder="Repeat Password"
               class="w-full mt-2 px-4 py-2 rounded-xl" required>
    </div>

    <!-- Form fields errors -->
    {% if form.email.errors %}
        <div class="flash_msg_email mb-5 rounded-xl flex">
            <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_email">
                <span><strong>&#9587</strong></span>
            </div>
            <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                <p><strong>Email: {{ form.email.errors|striptags }}</strong></p>
            </div>
        </div>
    {% endif %}
    {% if form.username.errors %}
        <div class="flash_msg_uname mb-5 rounded-xl flex">
            <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_uname">
                <span><strong>&#9587</strong></span>
            </div>
            <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                <p><strong>Username: {{ form.username.errors|striptags }}</strong></p>
            </div>
        </div>
    {% endif %}
    {% if form.password1.errors %}
        <div class="flash_msg_pass1 mb-5 rounded-xl flex">
            <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_pass1">
                <span><strong>&#9587</strong></span>
            </div>
            <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                <p><strong>Password: {{ form.password1.errors|striptags }}</strong></p>
            </div>
        </div>
    {% endif %}
    {% if form.password2.errors %}
        <div class="flash_msg_pass2 mb-5 rounded-xl flex">
            <div class="p-5 rounded-l-xl crossBtnDiv bg-red-400 flex items-center" id="crossBtnDiv_formError_pass2">
                <span><strong>&#9587</strong></span>
            </div>
            <div class="w-11/12 p-5 rounded-r-xl bg-red-500">
                <p><strong>Repeat Password: {{ form.password2.errors|striptags }}</strong></p>
            </div>
        </div>
    {% endif %}

    <button type="submit" class="px-5 py-3 rounded-xl text-white bg-teal-800 hover:bg-teal-700">Submit</button>
</form>
{% endblock %}

{% block scripts %}
<script>
    // Flash msg: Auth-error
    const error_div = document.querySelector(".flash_msg");
    const crossBtnDiv_msg = document.querySelector("#crossBtnDiv_msg");
    // Form field error: Email
    const error_div_email = document.querySelector(".flash_msg_email");
    const crossBtnDiv_formError_email = document.querySelector("#crossBtnDiv_formError_email");
    // Form field error: Username
    const error_div_uname = document.querySelector(".flash_msg_uname");
    const crossBtnDiv_formError_uname = document.querySelector("#crossBtnDiv_formError_uname");
    // Form field error: Password1
    const error_div_pass1 = document.querySelector(".flash_msg_pass1");
    const crossBtnDiv_formError_pass1 = document.querySelector("#crossBtnDiv_formError_pass1");
    // Form field error: Password2
    const error_div_pass2 = document.querySelector(".flash_msg_pass2");
    const crossBtnDiv_formError_pass2 = document.querySelector("#crossBtnDiv_formError_pass2");

    if (crossBtnDiv_formError_email) {
        crossBtnDiv_formError_email.addEventListener("click", (e) => {
            error_div_email.remove();
        });
    }

    if (crossBtnDiv_formError_uname) {
        crossBtnDiv_formError_uname.addEventListener("click", (e) => {
            error_div_uname.remove();
        });
    }

    if (crossBtnDiv_formError_pass1) {
        crossBtnDiv_formError_pass1.addEventListener("click", (e) => {
            error_div_pass1.remove();
        });
    }

    if (crossBtnDiv_formError_pass2) {
        crossBtnDiv_formError_pass2.addEventListener("click", (e) => {
            error_div_pass2.remove();
        });
    }

    if (crossBtnDiv_msg) {
        crossBtnDiv_msg.addEventListener("click", (e) => {
            error_div.remove();
        });
    }
</script>
{% endblock %}